@import url("./main.scss");

body {
  background-image: linear-gradient(45deg, rgb(131, 49, 224), rgb(17, 17, 114));
  background-repeat: no-repeat;
  background-size: cover;
  color: #f5f5f5;
  min-height: 100vh;
  overflow-y: hidden;
}

.container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;

  div{
    margin-right: 5rem;
    width: 300px;

    h1 {
      width: 300px;
      font-size: 60px;
      text-shadow: 3px 3px 0px black;
      line-height: 55px;
    }

    p {
      font-size: 20px;
      margin: 50px auto;
      line-height: 24px;
      text-shadow: 1px 1px 0px black;
    }

    button {
      margin-top: 30px;
      background: rgb(223, 96, 57);
      border: none;
      color: #f5f5f5;
      cursor: pointer;
      font-weight: bold;
      font-size: 25px;
      transition: .5s;
      padding: 15px 50px;
      border-radius: 50px;
    }

    button:hover{
      background-color: rgb(233, 112, 32);
      box-shadow: 0px 0px 15px rgb(209, 108, 41);
    }
  }

  .imgPage {
    margin-left: 7rem;
    max-width: 750px;
    min-width: 300px;
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  main {
    div,
    p,
    h1 {
      margin: 0;
      padding: 0 20px;
      text-align: center;
      width: 100%;
    }
  }
}
