* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

main {
  align-items: center;
  background-image: linear-gradient(45deg, rgb(131, 49, 224), rgb(17, 17, 114));
  display: flex;
  flex-direction: row;
}

.hidden {
  display: none !important;
}


#days-container {
  align-items: center;
  background-color: rgba(137, 202, 255, 0.473);
  border-right: 2px ridge rgba(0, 0, 0, 0.486);
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 10px;
  min-width: 10vw;


  ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    min-width: 100%;

  }
  li {
    background-color: rgba(196, 170, 255, 0.719);
    border-radius: 25px;
    margin-bottom: 10px;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
    position: relative;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 0 2px black;
    transition: .3s;

    &:hover{
      background-color: rgba(188, 163, 248, 0.719);
      box-shadow: 0 0 5px black;
    }

    button.delete-day {
      position: absolute;
      border: none;
      background-color: transparent;
      top: 0;
      right: 0;
      padding: 2px;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 7px;
      margin-right: 7px;
      transition: .2s;
      padding-top: 4px;

      &:hover{
        background-color: rgba(92, 64, 156, 0.815);
      }

      img {
        width: 15px;
        filter: invert(1);
      }
    }
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 800;
    text-shadow: 0 0 1.5px black;
  }

  h3{
    font-size: 1rem;
    font-weight: 400;
    text-shadow: 0 0 1px black;
  }

   h4 {
    font-size: 0.8rem;
    width: fit-content;
    margin: 5px auto;
    font-weight: 500;
    border-radius: 50px;
    padding: 1px 12px;
    padding-bottom: 3px;
    background-color: rgba(36, 8, 102, 0.719);
    transition: .2s;

    &:hover {
      background-color: rgb(111, 43, 189);
      box-shadow: 0px 0px 5px rgb(163, 64, 255);
    }
  }
  
  #add-day-btn {
    align-items: center;
    background-color: yellow;
    border-radius: 100%;
    border: none;
    color: rgb(59, 23, 219);
    cursor: pointer;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    padding: 1px 10px;
    transition: .1s;

    &:hover {
      box-shadow: 0px 0px 10px yellow;
    }
    &:focus {
      outline: none;
    }
  }
}

#tasks-container {
  align-items: center;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 10px;
  padding: 50px 0;
  place-items: center;
  text-align: center;
  width: 80vw;

  h1 {
    background-color: #afafaf;
    border-radius: 10px;
    font-size: 2rem;
    margin-top: 20px;
    max-width: 400px;
    padding: 20px;
  }
  ul {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    place-items: center;

    li {
      background-color: #afafaf;
      border-radius: 50px;
      display: flex;
      flex-direction: row;
      font-weight: bold;
      gap: 10px;
      margin-top: 10px;
      margin-top: 20px;
      padding: 20px;
      place-items: center;

      h2 {
        font-size: 1.2rem;
      }

      p {
        background-color: rgb(233, 232, 232);
        border-radius: 50px;
        font-size: 1rem;
        font-weight: normal;
        margin-left: 10px;
        margin-right: 10px;
        padding: 8px;
        width: 500px;
      }
    }

    button {
      background-color: #afafaf;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      padding: 5px;
      transition: 0.5s;
      width: 30px;
    }
    button:hover {
      background-color: rgb(233, 232, 232);
    }

    img {
      width: 100%;
    }
  }

  #add-task-btn {
    background-color: rgb(255, 223, 116);
    border-radius: 80px;
    border: 1px solid rgb(223, 223, 223);
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 100px;
    padding: 10px 30px;
    transition: .2s;

    &:hover {
      background-color: rgb(248, 236, 69);
      box-shadow: 0px 0px 10px rgb(241, 239, 73);
    }
    &:focus {
      outline: none;
    }
  }
}

#add-day-form,
#add-task-form,
#edit-task-form-container {
  align-items: center;
  background-color: rgb(219, 219, 219);
  border: 1px solid rgb(209, 208, 208);
  border-radius: 8px;
  box-shadow: 0px 0px 25px rgb(148, 148, 148);
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  height: fit-content;
  justify-content: start;
  position: absolute;
  width: 600px;
  padding: 20px 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  place-items: center;

  h1 {
    background-color: #afafaf;
    border-radius: 10px;
    font-size: 1.2rem;
    margin-bottom: 20px;
    margin-top: 0px;
    max-width: 400px;
    padding: 30px 60px;
  }
  h3,
  h2 {
    font-size: 1.1rem;
    margin-top: 10px;
  }
  h4{
    font-size: 1.5rem;
    color: rgb(51, 51, 51);
    text-shadow: 0 0 10px rgb(255, 255, 255);
    padding: 10px;
  }
  div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }
  #divBtn{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
  }
  #name,
  #nameTask,
  #editTaskName {
    width:55vh;
  }
  label {
    font-size: large;
    font-weight: 600;
    margin-bottom: 10px;
  }
  input {
    background-color: #afafaf;
    border-radius: 30px;
    border: none;
    outline: 1px solid rgb(165, 165, 165);
    padding: 15px;
  }
  textarea {
    background-color: rgb(219, 219, 219);
    border-radius: 30px;
    border: 15px solid #afafaf;
    outline: 1px solid rgb(165, 165, 165);
    padding: 10px;
    resize: none;
  }
  button {
    background-color: rgb(102, 12, 185);
    border-radius: 40px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 25px;
    transition: 0.3s;
    margin-top: 5px;
    margin-right: 10px;

    &:hover {
      background-color: rgb(135, 47, 218);
      box-shadow: 0px 0px 5px rgb(73, 13, 129);
    }
  }

  #cancelAddDay, #cancelAddTask, #cancelEdit{
    background-color: #eb1f1f;

    &:hover{
      background-color: #f02828;
      box-shadow: 0px 0px 5px rgb(129, 13, 13);
    }
  }
}

#delete-task-warning {
  align-items: center;
  background-color: rgb(219, 219, 219);
  border: 1px solid rgb(209, 208, 208);
  box-shadow: 0px 0px 25px rgb(148, 148, 148);
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  height: 200px;
  justify-content: center;
  position: absolute;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h2 {
    font-size: 1.2rem;
  }

  button {
    background-color: #9e9e9e;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
    padding: 15px 25px;
    transition: 0.3s;

    &:hover {
      background-color: #aaaaaa;
      box-shadow: 0px 0px 5px #6b6b6b;
    }
  }
  #approveDelete {
    background-color: #eb1f1f;
    color: white;

    &:hover {
      background-color: #f12f2f;
      box-shadow: 0px 0px 5px #da2a2a;
    }
  }
}

#delete-day-warning {
  width: 500px;
  position: absolute;
  background-color: rgb(219, 219, 219);
  padding: 20px;
  border-radius: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  h2 {
    font-size: 1.2rem;
  }

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    button {
      padding: 5px 10px;
      border-radius: 12px;
      border: none;
      font-size: 1rem;
      font-weight: bold;
      color: whitesmoke;
    }

    #delete-day-confirm-btn {
      background-color: rgb(54, 167, 54);
      transition: .2s;

      &:hover{
        background-color: rgb(64, 207, 64);
        box-shadow: 0 0 5px rgb(64, 207, 64);
      }
    }

    #delete-day-cancel-btn {
      background-color: rgb(206, 41, 29);
      transition: .2s;
      &:hover{
        background-color: rgb(245, 43, 43);
        box-shadow: 0 0 5px rgb(245, 43, 43);;
      }
    }
  }
}
