* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: whitesmoke;
}

::-webkit-scrollbar-thumb {
  background: #817ca1;
  border-radius: 20px;
}

main {
  align-items: center;
  align-items: center;
  background-image: linear-gradient(45deg, rgb(131, 49, 224), rgb(17, 17, 114));
  display: flex;
  flex-direction: row;
}

.hidden {
  display: none !important;
}

#days-container {
  align-items: center;
  background-color: rgba(137, 202, 255, 0.473);
  border-right: 2px ridge rgba(0, 0, 0, 0.486);
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px 10px 30px 10px;
  transform: translateX(0);
  transition: all 0.3s;
  width: 15vw;

  ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    min-width: 100%;
    padding: 10px;
  }
  li {
    background-color: rgba(196, 170, 255, 0.719);
    border-radius: 25px;
    box-shadow: 0 0 2px black;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    transition: 0.3s;
    user-select: none;
    width: 100%;

    &:hover {
      background-color: rgba(188, 163, 248, 0.719);
      box-shadow: 0 0 5px black;
    }

    button.delete-day {
      background-color: transparent;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      margin-right: 7px;
      margin-top: 7px;
      padding-top: 4px;
      padding: 2px;
      position: absolute;
      right: 0;
      top: 0;
      transition: 0.2s;

      &:hover {
        background-color: rgba(92, 64, 156, 0.815);
      }

      img {
        width: 15px;
        filter: invert(1);
      }
    }
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 800;
    text-shadow: 0 0 1.5px black;
  }

  h3 {
    font-size: 1rem;
    font-weight: 400;
    text-shadow: 0 0 1px black;
  }

  h4 {
    background-color: rgba(36, 8, 102, 0.719);
    border-radius: 50px;
    font-size: 0.8rem;
    font-weight: 500;
    margin: 5px auto;
    padding-bottom: 3px;
    padding: 1px 12px;
    transition: 0.2s;
    width: fit-content;

    &:hover {
      background-color: rgb(111, 43, 189);
      box-shadow: 0px 0px 5px rgb(163, 64, 255);
    }
  }

  #add-day-btn {
    align-items: center;
    background-color: yellow;
    border-radius: 100%;
    border: none;
    color: rgb(59, 23, 219);
    cursor: pointer;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    padding: 1px 10px;
    transition: 0.1s;

    &:hover {
      box-shadow: 0px 0px 10px yellow;
    }
    &:focus {
      outline: none;
    }
  }
}

#tasks-container {
  align-items: center;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: flex-start;
  margin: 0px auto;
  overflow-y: auto;
  padding: 50px 40px;
  place-items: center;
  text-align: center;
  width: 80vw;

  h1 {
    background-color: #afafaf;
    border-radius: 10px;
    font-size: 2rem;
    margin-top: 0px;
    max-width: 400px;
    padding: 10px;
  }
  ul {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font-size: 1rem;
    place-items: center;
    width: 90%;

    li {
      background-color: #afafaf;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      font-weight: bold;
      gap: 10px;
      justify-content: space-between;
      margin-top: 10px;
      margin-top: 20px;
      padding: 20px;
      place-items: center;
      width: 100%;

      h2 {
        font-size: 1.2rem;
        width: 20%;
      }

      p {
        background-color: rgb(233, 232, 232);
        border-radius: 8px;
        font-size: 1rem;
        font-weight: normal;
        margin-left: 10px;
        margin-right: 10px;
        padding: 8px;
        text-align: justify;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        width: 60%;
      }
    }

    button {
      background-color: #afafaf;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      padding: 5px;
      transition: 0.5s;
      width: 30px;
    }
    button:hover {
      background-color: rgb(233, 232, 232);
    }

    img {
      width: 100%;
    }
  }

  #add-task-btn {
    background-color: rgb(255, 223, 116);
    border-radius: 80px;
    border: 1px solid rgb(223, 223, 223);
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 100px;
    padding: 10px 30px;
    transition: 0.2s;

    &:hover {
      background-color: rgb(248, 236, 69);
      box-shadow: 0px 0px 10px rgb(241, 239, 73);
    }
    &:focus {
      outline: none;
    }
  }
}

#add-day-form,
#add-task-form,
#edit-task-form-container {
  align-items: center;
  background-color: rgb(219, 219, 219);
  border-radius: 8px;
  border: 1px solid rgb(209, 208, 208);
  box-shadow: 0px 0px 25px rgb(148, 148, 148);
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  height: fit-content;
  justify-content: start;
  left: 50%;
  max-width: 600px;
  padding: 20px 0;
  place-items: center;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;

  h1 {
    background-color: #afafaf;
    border-radius: 10px;
    font-size: 1.2rem;
    margin-bottom: 20px;
    margin-top: 0px;
    max-width: 400px;
    padding: 30px 60px;
  }
  h3,
  h2 {
    font-size: 1.1rem;
    margin-top: 10px;
  }
  h4 {
    color: rgb(51, 51, 51);
    font-size: 1.5rem;
    padding: 10px;
    text-shadow: 0 0 10px rgb(255, 255, 255);
  }
  div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }
  #divBtn {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #name,
  #nameTask,
  #editTaskName {
    width: 100%;
  }
  label {
    font-size: large;
    font-weight: 600;
    margin-bottom: 10px;
  }
  input {
    background-color: #afafaf;
    border-radius: 30px;
    border: none;
    outline: 1px solid rgb(165, 165, 165);
    padding: 15px;
  }
  textarea {
    background-color: rgb(219, 219, 219);
    border-radius: 30px;
    border: 15px solid #afafaf;
    outline: 1px solid rgb(165, 165, 165);
    padding: 10px;
    resize: none;
  }
  button {
    background-color: rgb(102, 12, 185);
    border-radius: 40px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 5px;
    padding: 15px 25px;
    transition: 0.3s;

    &:hover {
      background-color: rgb(135, 47, 218);
      box-shadow: 0px 0px 5px rgb(73, 13, 129);
    }
  }

  #cancelAddDay,
  #cancelAddTask,
  #cancelEdit {
    background-color: #eb1f1f;

    &:hover {
      background-color: #f02828;
      box-shadow: 0px 0px 5px rgb(129, 13, 13);
    }
  }
}

#delete-task-warning {
  align-items: center;
  background-color: rgb(219, 219, 219);
  border: 1px solid rgb(209, 208, 208);
  box-shadow: 0px 0px 25px rgb(148, 148, 148);
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  height: 200px;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;

  h2 {
    font-size: 1.2rem;
  }

  button {
    background-color: #9e9e9e;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
    padding: 15px 25px;
    transition: 0.3s;

    &:hover {
      background-color: #aaaaaa;
      box-shadow: 0px 0px 5px #6b6b6b;
    }
  }
  #approveDelete {
    background-color: #eb1f1f;
    color: white;

    &:hover {
      background-color: #f12f2f;
      box-shadow: 0px 0px 5px #da2a2a;
    }
  }
}

#delete-day-warning {
  align-items: center;
  background-color: rgb(219, 219, 219);
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  left: 50%;
  max-width: 500px;
  padding: 20px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;

  h2 {
    font-size: 1.2rem;
  }

  div {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;

    button {
      border-radius: 12px;
      border: none;
      color: whitesmoke;
      font-size: 1rem;
      font-weight: bold;
      padding: 5px 10px;
    }

    #delete-day-confirm-btn {
      background-color: rgb(54, 167, 54);
      transition: 0.2s;

      &:hover {
        background-color: rgb(64, 207, 64);
        box-shadow: 0 0 5px rgb(64, 207, 64);
      }
    }

    #delete-day-cancel-btn {
      background-color: rgb(206, 41, 29);
      transition: 0.2s;
      &:hover {
        background-color: rgb(245, 43, 43);
        box-shadow: 0 0 5px rgb(245, 43, 43);
      }
    }
  }
}

button#open-side-menu {
  display: none;
  font-size: 1.2rem;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 40px;
  border: none;
  background-color: transparent;
  z-index: 5;
}

div#overlay-close-side-menu {
  backdrop-filter: blur(5px);
  background-color: rgba(2, 2, 2, 0.527);
  display: none;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 5;
}

@media screen and (max-width: 768px) {
  body {
    background: #6350b9;
  }

  #days-container {
    background-color: #787fe5;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    width: 250px;
    z-index: 10;
  }

  form {
    width: 95vw !important;

    input,
    label,
    textarea {
      width: 80% !important;
      margin: 0 auto;
    }
  }

  #tasks-container {
    height: 100vh;
    padding: 50px 10px;
    width: 100vw;
    ul {
      width: 100%;

      li {
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;

        p,
        h2 {
          width: 100%;
        }

        span {
          position: absolute;
          right: 2px;
          top: 2px;
        }
      }
    }
  }

  button#open-side-menu {
    display: block;
  }
}
